{% extends "base.html" %}

{% load staticfiles i18n %}

{% block content-header %}
    <h1>
        Список источников данных
    </h1>
{% endblock %}

{% block css %}
    <link href="{% static 'css/sources.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-info"><a href="{% url "etl:datasources.add" %}"><i class="fa fa-align-left"></i></a></button>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Источники данных</h3>

                    <div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control input-sm pull-right"  id="search"
                                   placeholder="Search"  onchange="search()" value="{{search}}">

                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default" onclick="search()"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" id="source_table" data-url="{% url "etl:datasources.index" %}">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>База данных</th>
                            <th>Логин</th>
                            <th>Хост</th>
                            <th>Порт</th>
                            <th>Действия</th>
                        </tr>
                        {% for row in sources %}
                            <tr>
                                <td>{{ row.id }}</td>
                                <td>{{ row.db }}</td>
                                <td>{{ row.login }}</td>
                                <td>{{ row.host }}</td>
                                <td>{{ row.port }}</td>
                                <td>
                                    <a href="{% url "etl:datasources.edit" row.id %}"><i class="fa fa-edit text-blue"></i></a> &nbsp;
                                    <a href="javascript:void(0)"
                                       onclick="removeSource('{% url "etl:datasources.delete" row.id %}')">
                                    <i class="fa fa-remove text-danger"></i></a>&nbsp;&nbsp;
                                    <a href="javascript:;"
                                       onclick="getConnectionData(
                                       '{% url "etl:datasources.get_data" row.id %}',
                                       '{% url "etl:datasources.remove_all_tables" %}'
                                    )">
                                    <i class="fa fa-database text-orange"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if sources.paginator.num_pages > 1 %}
                    <div class="box-body">
                        <div class="text-center">
                            <ul class="pagination">
                                {% if sources.has_previous %}
                                    <li><a class="fa fa-chevron-left" href="{{url}}{{page|add:-1}}"></a></li>
                                {% endif %}
                                {% for i in range%}
                                    <li
                                    {% if i == page %}
                                        class="active"
                                    {% endif %}
                                    ><a href="{{url}}{{i}}">{{i|add:1}}</a></li>
                                {% endfor %}
                                {% if sources.has_next %}
                                    <li><a class="fa fa-chevron-right" href="{{url}}{{page|add:1}}"></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}


{% block modal %}
    <div class="modal inmodal" tabindex="1" role="dialog" aria-hidden="true" id="modal-data" data-load="false">
        <div class="modal-dialog" style="width:1100px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Управление источником</h4>
                </div>
                <div class="modal-body" style="height:600px;font-size:13px">
                    <div class="row">
                        <div class="col-md-3" style="height:550px; overflow-y: auto;">
                            <h3>База данных</h3>
                            <div class="row">
                                <div class="">
                                    <div class="panel-group" id="databases" role="tablist">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="height:550px;text-align: center">
                            <button class="btn fa fa-arrow-circle-o-right"
                                    style="margin-bottom:10px;margin-top:100px"
                                    onclick="tableToRight('{% url "etl:datasources.get_columns"%}')" id="button-toRight"></button>
                            <button class="btn fa fa-arrow-circle-o-left"
                                    style="margin-bottom:10px"
                                    onclick="tableToLeft('{% url "etl:datasources.remove_tables"%}')" id="button-toLeft"></button>
                            <button class="btn fa fa-angle-double-right"
                                    style="margin-bottom:10px"
                                    onclick="tablesToRight('{% url "etl:datasources.get_columns"%}')" id="button-allToRight"></button>
                            <button class="btn fa fa-angle-double-left"
                                    style="margin-bottom:10px"
                                    onclick="tablesToLeft('{% url "etl:datasources.remove_all_tables"%}')" id="button-allToLeft"></button>
                            <button class="fa fa-refresh" style="margin-top:140px"
                                    onclick="refreshData('{% url "etl:datasources.get_rows"%}')"></button>
                        </div>
                        <div class="col-md-8" style="height:550px">
                            <div style="height:200px;border: #ddd solid 1px; overflow-y:auto">
                                <div style="display:inline-flex;" id="chosenTables">
                                </div>
                            </div>
                            <div style="height:340px;overflow-x:scroll;border: #ddd solid 1px;">
                                <i id="loader" class="fa fa-spinner fa-spin loader"></i>
                                <div style="display:inline-flex;" id="data-workspace">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-11 col-md-1">
                            <button class="btn btn-success" onclick="startLoading({{user.id}},
                            '{% url "etl:datasources.load_data"%}')">START</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--join modal-->
    <div class="modal inmodal" tabindex="1" role="dialog" aria-hidden="true" id="join-window">
        <div class="modal-dialog" style="width:750px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Слияние таблиц</h4>
                </div>
                <div class="modal-body" style="height:300px; overflow-y:auto">
                    <div class="row" style="border: solid 1px #ddd">
                        <div class="col-md-4">
                            <label class="control-label radio-inline">
                                <input type="radio" checked name="joinradio" value="inner">Inner Join
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label radio-inline">
                                <input type="radio" name="joinradio" value="left">Left Join
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label radio-inline">
                                <input type="radio" name="joinradio" value="right">Right Join
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <label class="control-label"></label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" id="parentLabel"></label>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Тип связи</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" id="childLabel"></label>
                        </div>
                    </div>
                    <div id="joinRows"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" onclick="deleteJoins()">Удалить связь</button>
                    <button class="btn btn-success" onclick="addNewJoin()">Новая связь</button>
                    <button class="btn btn-primary"
                            onclick="saveJoins('{% url "etl:datasources.save_new_joins"%}')">Сохранить</button>
                    <button class="btn btn-info"
                            onclick="closeJoins()">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    <!--join window row-->
    <script type="text/html" id="join-win-row">
        <div class="row form-group join-row with-select-<%= i %>">
            <div class="col-md-1">
                <input type="checkbox" class="checkbox-joins">
            </div>
            <div class="col-md-4">
                <select class="form-control col-md-11" name="parent">
                    <% _.each(parentCols, function(col){ %>
                        <option value="<%= col %>"><%= col %></option>
                    <% }); %>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" name="joinType">
                    <option value="eq">=</option>
                    <option value="lt"><</option>
                    <option value="gt">></option>
                    <option value="lte"><=</option>
                    <option value="gte">>=</option>
                    <option value="neq"><></option>
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-control" name="child">
                    <% _.each(childCols, function(col){ %>
                        <option value="<%= col %>"><%= col %></option>
                    <% }); %>
                </select>
            </div>
            <% if(error){ %>
                <span style="color:red;">Ошибка</span>
            <% } %>
        </div>
    </script>

    <script type="text/html" id="datatable-init">
        <div class="box-body table-responsive no-padding">
            <table id="data-table" class="table table-hover table-striped table-bordered">
                <tbody>
                <tr id="data-table-headers"></tr>
                </tbody>
            </table>
        </div>
    </script>

    <!-- строки таблиц БД-->

    <script type="text/html" id="database-rows">
            <div class="panel panel-default width150" data-host="<%= data.host%>" data-db="<%= data.db %>">
                <div class="panel-heading">
                    <a class="collapsed fa fa-database" data-toggle="collapse"
                        href="#dbTables"
                       aria-controls="dbTables">
                        <%= data.host%>: <%= data.db%><br>
                    </a>
                </div>
                <div id="dbTables" class="panel-collapse collapse">
                    <% _.each(data.tables, function(table) { %>
                        <div class="col-sm-offset-1" id="<%= table.name %>"
                                data-host="<%= data.host%>" data-db="<%= data.db %>" data-table="<%= table.name %>">
                            <input type="checkbox" class="checkbox-table"
                                   onclick="checkTable('<%= table.name %>')">&nbsp;&nbsp;
                                <a class="collapsed fa fa-table" data-toggle="collapse"
                                    onclick="setActive('<%= table.name %>')">
                                    <%= table.name %>
                                </a>
                        </div>
                    <% }); %>
                </div>
            </div>
    </script>

    <!-- строки колонок таблиц-->

    <script type="text/html" id="table-cols">

        <div class="table-part" style="display:flex" data-table="<%= row.tname %>"
                 id="table-part-<%= row.tname %>">
            <div style="padding:0; display:inline-flex;">
                <% if (!row.is_root) { %>
                    <a class="fa fa-exchange relation"
                       onclick="showJoinWindow('{% url "etl:datasources.cols_for_choices"%}',
                                               '<%= row.dest %>', '<%= row.tname %>', <%= row.without_bind %>)">
                        <% if (row.without_bind) { %><span class="without_bind" style="color:red;">!!!</span><% } %>
                    </a>
                <% } %>
                <div class="panel panel-default"
                     style="margin-top:10px; padding-left:0;padding-right:0;">
                    <input type="checkbox" class="right-chbs" onclick="checkRightCheckboxes()">
                    <a class="collapsed fa fa-table" data-toggle="collapse" style="margin-left:5px;"
                        href="#<%= row.tname%>Cols"
                        aria-controls="<%= row.tname%>Cols">
                        <%= row.tname %><br>
                    </a>
                    <div id="<%= row.tname %>Cols" class="panel-collapse collapse">
                        <% _.each(row.cols, function(col){ %>
                            <div data-table="<%= row.tname %>" data-col="<%= col %>">
                                <ul class="table-columns">
                                    <li class="dropdown messages-menu">
                                        <a class="dropdown-toggle" style="font-weight:bold;"
                                            id="for-col-<%= row.tname%>-<%= col %>"
                                            data-toggle="dropdown" href="javascript:void(0)">
                                            <%= col %>
                                        </a>
                                        <ul class="dropdown-menu" style="margin:-40px 0 0; font-size:12px">
                                            <li><a href="javascript:void(0)"
                                                    onclick="addCol('<%= row.tname%>','<%= col %>')">
                                                Включить в набор</a></li>
                                            <li><a href="javascript:void(0)"
                                                    onclick="delCol('col-<%= row.tname%>-<%= col %>')">
                                                Исключить из набора</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
            <div id="for-<%= row.tname %>-childs"></div>
        </div>

    </script>

    <!-- header выборки-->

    <script type="text/html" id="cols-headers">
        <% _.each(data, function(row, i) { %>
            <% _.each(row.cols, function(col) { %>
                <th class="data-table-column-header"
                     id="col-<%= row.tname %>-<%= col %>"
                     data-col="<%= col %>" data-table="<%= row.tname %>">
                        <%= row.tname%>
                        <%= col %>
                </th>
            <% }); %>
        <% }); %>
    </script>

    <script type="text/html" id="selected-rows">
        <% _.each(data, function(row) { %>
            <tr>
                    <% _.each(row, function(el) { %>
                    <td >
                        <%= el %>
                    </td>
                <% }); %>
            </tr>
        <% }); %>
    </script>

{% endblock modal %}

{% block javascript %}
    <script src="{% static 'js/sources.js' %}"></script>
{% endblock javascript %}
