<div class="row">
  <div class="col-md-3" style="height:550px; overflow-y: auto;">
    <h3>Источник</h3>
    <div class="row">
      <div class="">
        <div class="panel-group" id="databases" role="tablist">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1" style="height:550px;text-align: center">
      <div class="buttons">
    <button class="btn fa fa-arrow-circle-o-right"
      style="margin-bottom:10px;margin-top:100px"
      onclick="tableToRight('/etl/datasources/get_columns/')" id="button-toRight"></button>
    <button class="btn fa fa-arrow-circle-o-left"
      style="margin-bottom:10px"
      onclick="tableToLeft('/etl/datasources/remove_tables/')" id="button-toLeft"></button>
    <button class="btn fa fa-angle-double-right"
      style="margin-bottom:10px"
      onclick="tablesToRight('/etl/datasources/get_columns/')" id="button-allToRight"></button>
    <button class="btn fa fa-angle-double-left"
      style="margin-bottom:10px"
      onclick="tablesToLeft('/etl/datasources/remove_all_tables/')" id="button-allToLeft"></button>
    <button class="fa fa-refresh" style="margin-top:140px"
      onclick="refreshData('/etl/datasources/get_rows/')"></button>
      </div>
  </div>
  <div class="col-md-8" style="height:550px">
    <div style="height:200px;border: #ddd solid 1px; overflow-y:auto">
      <div style="display:inline-flex;" id="chosenTables">
      </div>
    </div>
    <div style="height:340px;overflow-x:scroll;border: #ddd solid 1px;">
      <i id="loader" class="fa fa-spinner fa-spin loader"></i>
      <div style="display:inline-flex;" id="data-workspace">

      </div>
    </div>
  </div>
</div>
<div class="row">
 <div class="col-md-offset-3 col-md-1">
   <button class="btn btn-success" ng-click="getRequest_RefreshData()">CHECK</button>
 </div>
 <div class="col-md-offset-11 col-md-1">
    <button class="btn btn-success" onclick="startLoading(12,'/etl/datasources/loading_data/')">START</button>
  </div>
</div>


<!--join window-->
<script type="text/html" id="join-window-modal">
    <div class="modal inmodal" tabindex="1" role="dialog" aria-hidden="true" id="join-window">
        <div class="modal-dialog" style="width:750px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Слияние таблиц</h4>
                </div>
                <div class="modal-body" style="height:300px; overflow-y:auto">
                    <div class="row" style="border: solid 1px #ddd">
                        <div class="col-md-4">
                            <label class="control-label radio-inline">
                                <input type="radio" checked name="joinradio" value="inner">Inner Join
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label radio-inline">
                                <input type="radio" name="joinradio" value="left">Left Join
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label radio-inline">
                                <input type="radio" name="joinradio" value="right">Right Join
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <label class="control-label"></label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" id="parentLabel"></label>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Тип связи</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" id="childLabel"></label>
                        </div>
                    </div>
                    <div id="joinRows"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" onclick="deleteJoins()">Удалить связь</button>
                    <button class="btn btn-success" onclick="addNewJoin()">Новая связь</button>
                    <button class="btn btn-primary"
                            onclick="saveJoins('/etl/datasources/save_new_joins/')">Сохранить</button>
                    <button class="btn btn-info"
                            onclick="closeJoins()">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</script>


<!--join window row-->
    <script type="text/html" id="join-win-row">
        <div class="row form-group join-row with-select-<%= i %>">
            <div class="col-md-1">
                <input type="checkbox" class="checkbox-joins">
            </div>
            <div class="col-md-4">
                <select class="form-control col-md-11" name="parent">
                    <% _.each(parentCols, function(col){ %>
                        <option value="<%= col %>"><%= col %></option>
                    <% }); %>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" name="joinType">
                    <option value="eq">=</option>
                    <option value="lt"><</option>
                    <option value="gt">></option>
                    <option value="lte"><=</option>
                    <option value="gte">>=</option>
                    <option value="neq"><></option>
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-control" name="child">
                    <% _.each(childCols, function(col){ %>
                        <option value="<%= col %>"><%= col %></option>
                    <% }); %>
                </select>
            </div>
            <% if(error){ %>
                <span style="color:red;">Ошибка</span>
            <% } %>
        </div>
    </script>
