{% extends "base.html" %}

{% load staticfiles i18n %}

{% block content-header %}
    <h1>
        Добавление пользователя
    </h1>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Данные пользователя</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form role="form" method="post">{% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label>{{field.label}}</label>
                            {% if field.name == 'email'%}
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                        {{field}}
                                </div>
                            {% elif field.name == "phone" %}
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                        {{field}}
                                </div>
                            {% elif field.name == "birth_date" %}
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                        {{field}}
                                </div>
                            {% elif field.name == "skype" %}
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-skype"></i>
                                    </div>
                                        {{field}}
                                </div>
                            {%else%}
                                <div>
                                    {{field}}
                                </div>
                            {%endif%}
                            {% if field.erros %}
                                <div>
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit">Сохранить</button>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/users.js' %}"></script>
{% endblock javascript %}