{% extends "base.html" %}

{% load staticfiles %}

{% block content-header %}
    <h1>
        Профиль пользователя
    </h1>
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static "system/jQuery-File-Upload-9.11.2/css/jquery.fileupload.css" %}">
    <link rel="stylesheet" href="{% static 'system/plugins/datepicker/datepicker3.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}


{% block content %}

    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal form-color" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#main" data-toggle="tab" aria-expanded="true">Главная</a></li>
                        <li><a href="#optional" data-toggle="tab">Дополнительно</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="main">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Фото</label>

                                <div class="col-md-3">
                                    <div class="box box-color">
                                        <div class="box-body box-profile">
                                            <div class="upload_div">
                                                <div class="img_bl" id="img_div" data-url="{% url "users.temp_image" user.id %}">
                                                    <img id="profile_img" class="profile-user-img img-responsive img-circle"
                                                         {% if form.avatar.value %}
                                                            src="{{ MEDIA_URL }}{{form.avatar.value}}"
                                                         {% else %}
                                                            src="/assets/system/dist/img/anonymous-160x160.gif"
                                                         {% endif %}
                                                         alt="User profile picture" width="140" height="140">
                                                    <div class="upload_btn img-circle">
                                                        <button id="add-btn" hidden="true" class="btn btn-success fileinput-button plus_centr"
                                                                {% if form.avatar.value %}
                                                                    style="display: none"
                                                                {% endif %}>
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                            <input id="fileupload" type="file" name="file" multiple>
                                                        </button>
                                                        <span id="clear-btn" class="btn btn-danger fileinput-button plus_centr"
                                                             {% if not form.avatar.value %}
                                                                 style="display: none"
                                                             {% endif %}>
                                                            <i class="glyphicon glyphicon-remove" onclick="clearImage()"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <h3 class="profile-username text-center">{{user.first_name}}</h3>

                                        </div>
                                    </div>
                                    <input type="hidden" id="temp_file" name="temp_file"
                                            {% if form.avatar.value %}
                                                value="{{ MEDIA_URL }}{{form.avatar.value}}"
                                            {% else %}
                                                value=""
                                            {% endif %}>
                                </div>
                            </div>

                            <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
                                <label class="col-sm-2 control-label">Имя</label>

                                <div class="col-sm-9 input-group">
                                    {{form.first_name}}
                                </div>
                                {% if form.first_name.errors %}
                                    <div class="col-sm-offset-2">
                                        {{ form.first_name.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
                                <label class="col-sm-2 control-label">Фамилия</label>

                                <div class="col-sm-9 input-group">
                                    {{form.last_name}}
                                </div>
                                {% if form.last_name.errors %}
                                    <div class="col-sm-offset-2">
                                        {{ form.last_name.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group {% if form.middle_name.errors %}has-error{% endif %}">
                                <label class="col-sm-2 control-label">Отчество</label>

                                <div class="col-sm-9 input-group">
                                    {{form.middle_name}}
                                </div>
                                {% if form.middle_name.errors %}
                                    <div class="col-sm-offset-2">
                                        {{ form.middle_name.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- /.tab-pane -->

                        <div class="tab-pane" id="optional">
                            <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                                <label class="col-sm-2 control-label">Логин</label>

                                <div class="col-sm-9 input-group">
                                    {{form.username}}
                                </div>
                                {% if form.username.errors %}
                                    <div class="col-sm-offset-2">
                                        {{ form.username.errors }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                                <label class="col-sm-2 control-label">Email</label>

                                <div class="col-sm-9 input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    {{form.email}}
                                </div>
                                {% if form.email.errors %}
                                    <div class="col-sm-offset-2">
                                        {{ form.email.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group {% if form.birth_date.errors %}has-error{% endif %}">
                                <label class="col-sm-2 control-label">Дата рождения</label>

                                <div class="col-sm-9 input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    {{form.birth_date}}
                                </div>
                                {% if form.birth_date.errors %}
                                    <div class="col-sm-offset-2">
                                        {{ form.birth_date.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group {% if form.phone.errors %}has-error{% endif %}">
                                <label class="col-sm-2 control-label">Телефон</label>

                                <div class="col-sm-9 input-group">

                                    <div class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    {{form.phone}}
                                </div>
                                {% if form.phone.errors %}
                                    <div class="col-sm-offset-2">
                                        {{ form.phone.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group {% if form.skype.errors %}has-error{% endif %}">
                                <label class="col-sm-2 control-label">Skype</label>

                                <div class="col-sm-9 input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-skype"></i>
                                    </div>
                                    {{form.skype}}
                                </div>
                                {% if form.skype.errors %}
                                    <div class="col-sm-offset-2">
                                        {{ form.skype.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group {% if form.city.errors %}has-error{% endif %}">
                                <label class="col-sm-2 control-label">Город</label>

                                <div class="col-sm-9 input-group">
                                    {{form.city}}
                                </div>
                                {% if form.city.errors %}
                                    <div class="col-sm-offset-2">
                                        {{ form.city.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group form_bottom_btn">
                    <div class="col-sm-2 col-sm-offset-1">
                        <button type="submit" class="btn btn-danger">Сохранить</button>
                    </div>
                    {% if form.errors %}
                        <div class="col-sm-offset-1 has-error">
                            <label class="control-label">На форме имеются некорректно заполненные поля!</label>
                        </div>
                    {% endif %}
                </div>

            </form>
        </div>
    </div>


{% endblock %}

{% block javascript %}
    <script src="{% static "system/jQuery-File-Upload-9.11.2/js/vendor/jquery.ui.widget.js" %}"></script>
    <script src="{% static "system/jQuery-File-Upload-9.11.2/js/jquery.iframe-transport.js" %}"></script>
    <script src="{% static "system/jQuery-File-Upload-9.11.2/js/jquery.fileupload.js" %}"></script>
    <script src="{% static "js/profile.js" %}"></script>
{% endblock javascript %}
