
<h3 class="control-sidebar-heading">Tasks Progress</h3>
<ul class="control-sidebar-menu" id="user_tasks_bar"
    data-url="{% url "etl:datasources.user_tasks" %}" data-host="{{socket_url}}">
</ul>

<script type="text/html" id="tasks_progress">
    <% _.each(data, function(taskId) { %>
        <li>
            <a href="javascript::;">
                <h4 class="control-sidebar-subheading">
                    Task # <%= taskId %>
                    <span class="label label-danger pull-right" id="task-text-<%= taskId %>">0%</span>
                </h4>

                <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" id="task-measure-<%= taskId %>"
                         style="width: 0%"></div>
                </div>
            </a>
        </li>
    <% }); %>
</script>
